body {
    background-color: rgb(199, 199, 199);
}

.table {
    background-color: rgb(230, 230, 230);
    width: 800px;
    height: 665px;
    margin: auto;
    margin-top: 50px;
    background-image: url(p.m..jpg);
    background-size: 1100px 800px;
    box-shadow: 0 3px 15px rgb(98, 98, 98);
}

.title {
    padding-left: 50px;
    padding-top: 1px;
    background-image: url(Desain\ tanpa\ judul.png);
    background-repeat: repeat-x;
    padding-bottom: 1px;
    h1 {
        font-family: monospace;
        color: rgb(83, 91, 255);
        text-shadow: 0 3px 7px rgb(181, 44, 255);
    }
}

h1 {
    font-size: 37px;
}

.menu {
    background-color: gray;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 10px;
    display: flex;
    .box1 {padding-left: 50px;}
    .box2 {padding-left: 55px;}
    .box3 {padding-left: 60px;}
    a {text-decoration: none; color: gray;}
    table {box-shadow: 0 3px 8px rgb(68, 68, 68);}
}

tr:hover {background-color: rgb(232, 232, 232);}

h3 {
    font-family: cursive;
}

.des {
    
    word-spacing: 2px;
    letter-spacing: 3px;
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0px 1px 5px rgb(140, 140, 140);
    .lik {
        text-decoration: none;
        color: bisque;
    }

    p {
        text-align: center;
    }
}

.lik:hover {
    color: rgb(194, 255, 200);
}

.copy {
    background-color: rgb(115, 159, 255);
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    word-spacing: 2px;
}

.me {
    color: aliceblue;
    font-family: monospace;
    font-size: 17px;
    text-shadow: 0 3px 7px gray;
    margin-top: 130px;
}